<div id="wrapper">
    <h1 class="top-title">ようこそBookersへ！</h1>
    <p class="top-text">Bookersでは、さまざまな書籍に関する意見や<br />
    感想を共有し交換することができます</p>
    <p class="top-link link">
      <%= link_to "Start", "/books" %>
    </p>
</div>